<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <nav class="navbar" th:fragment="header">
        <div class="content-bar">
            <img class="home-logo" th:src="@{../images/bumtt-logo.png}">
            <ul class="nav-li-inline">
                <li class="nav-li"><a th:href="@{/contents/drama}">드라마</a></li>
                <li class="nav-li"><a th:href="@{/contents/movie}">영화</a></li>
                <li class="nav-li"><a th:href="@{/contents/animation}">애니메이션</a></li>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <li class="content-li"><a th:href="@{/contents/create}">컨텐츠 추가</a></li>
                </th:block>
            </ul>
        </div>
        <div class="search-bar">
            <img class="search-content" th:src="@{../images/search-content.png}">
        </div>
        <div class="user-bar">
            <ul>
    <!--            <th:block sec:authentication="isAnonymous()">-->
    <!--                <li class="nav-li"><a th:href="@{/user/login}">로그인</a></li>-->
    <!--                <li class="nav-li"><a th:href="@{/user/singin}">회원가입</a></li>-->
    <!--            </th:block>-->
    <!--            <th:block sec:authorize="isAuthenticated()">-->
    <!--                <li class="nav-li"><a th:href="@{/user/logout}">로그아웃</a></li>-->
    <!--            </th:block>-->
            </ul>
        </div>
    </nav>
</body>
</html>