<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumTT</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/create.css }">
    <script th:src="@{/javascript/create.js}" defer></script>
</head>
<body>
    <div class="header" th:replace="~{/common/header::header}"></div>
    <div class="contents-box">
        <form method="post" action="/content/create" id="content-create" enctype="multipart/form-data">
            <h2 class="contents-title">컨텐츠 추가</h2>
            <div class="contents-container" id="contents-container">
                <label>컨텐츠 제목</label>
                <input type="text" class="content-input1" name="contentTitle" placeholder="컨텐츠 제목">
                <label>컨텐츠 종류</label>
                <select class="content-input1" name="contentType" required>
                    <option value="">컨텐츠 종류</option>
                    <option value="드라마">드라마</option>
                    <option value="영화">영화</option>
                    <option value="애니메이션">애니메이션</option>
                </select>
                <label>컨텐츠 등급</label>
                <select class="content-input1" name="contentGrade" required>
                    <option value="">컨텐츠 등급</option>
                    <option value="전체관람가">전체관람가</option>
                    <option value="12세 이상 관람가">12세 이상 관람가</option>
                    <option value="15세 이상 관람가">15세 이상 관람가</option>
                    <option value="청소년관람불가">청소년관람불가</option>
                </select>
                <label>컨텐츠 설명</label>
                <textarea class="content-input2" name="contentComment" placeholder="컨텐츠 설명"></textarea>
                <label>컨텐츠 오픈일자</label>
                <input type="date" class="content-input1" name="contentStartDate">
                <label>컨텐츠 감독</label>
                <input type="text" class="content-input1" name="contentDirector" placeholder="감독 이름">
                <label>컨텐츠 출연진</label>
                <button type="button" class="add-actor" id="add-actor" onclick="addActor()">출연진 추가</button>
                <div class="actor-container" id="actor-container">
                    <input type="text" class="content-input3" name="contentActors" placeholder="배우 이름">
                </div>
            </div>
            <div class="basic-thumbnail-box">
                <label>기본 이미지</label><br>
                <img class="basic-thumbnail" id="basic-thumbnail" th:src="@{../images/plus2.png}"><br>
                <input type="file" style="display: none" accept=".gif, .jpg, .png" id="content-basic-thumbnail" name="basicThumbnail" onchange="loadBasicImg(this)">
                <label>기본 크기 284*425</label>
            </div>
            <div class="banner-thumbnail-box">
                <label>배너 이미지</label><br>
                <img class="banner-thumbnail" id="banner-thumbnail" th:src="@{../images/plus1.png}"><br>
                <input type="file" style="display: none" accept=".gif, .jpg, .png" id="content-banner-thumbnail" name="bannerThumbnail" onchange="loadBannerImg(this)">
                <label>기본 크기 1850*500</label>
            </div>
            <button type="submit" class="save-content-btn" id="save-contents-btn">저장</button>
            <button type="button" class="back-btn" id="back-btn">뒤로</button>
        </form>
    </div>
</body>
</html>