<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumTT</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/management.css }">
    <script th:src="@{/javascript/management.js}" defer></script>
</head>
<body>
    <div class="header" th:replace="~{/common/header::header}"></div>
    <div class="contents-box">
        <h2 class="contents-title">컨텐츠 관리</h2>
        <button class="create-content-button" id="create-content">컨텐츠 추가</button>

    </div>
</body>
</html>